.root {
	margin-top: 40px;
	display: flex;
	gap: 15px;

	li {
		a {
			color: #fe5f1e;
			width: 40px;
			height: 40px;
			border: 1px solid #fe5f1e;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
			cursor: pointer;

			&:hover {
				background-color: #fe5f1e;
				color: #fff;
			}
		}
	}

	:global {
		.selected {
			a {
				background-color: #fe5f1e;
				color: #fff;
			}
		}
	}
}
